<!DOCTYPE html>
<html>

<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Add Photo</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
</head>

<body class="m-5">
    <div class="text-center m-3">
        <img src="https://i.imgur.com/aJAZpAz.png" class="rounded" alt="Logo">
    </div>

    <div class="form-row text-center">
        <div class="col justify-content-center m-3">
            <a href="{% url 'gallery' %}" class="btn btn-outline-dark">Go Back</a>
        </div>
     </div>


    <div class="container">
        <div class="row justify-content-center m-3">
            <div class="col-md-4">
                <div class="card">
                    <form method='POST' action="" enctype="multipart/form-data">
                        {% csrf_token %}
                        <div class="form-group m-3">
                            <label>Description</label>
                            <input required name="description" type="text" placeholder="Enter a Description" class="form-control">
                        </div>
                        
                        <div class="form-group m-3">
                            <label>Select a category</label>
                            <select name="category" class="form-control">
                                <option value='none'>Select a category...</option>

                                {% for category in categories %}
                                    <option value='{{category.id}}'>{{category.name}}</option>
                                {% endfor %}
                            </select>
                        </div>

                        <div class="form-group m-3">
                            <label>Create a new category</label>
                            <input name="category_new" type="text" placeholder="Create a new category" class="form-control">
                        </div>
                        
                        <div class="form-group m-3">
                            <label>Upload image</label>
                            <input required name="image" type="file" class="form-control-file">
                        </div>
                        <button type="submit" class="btn btn-outline-dark m-3">Submit</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</body>
</html>