<!DOCTYPE html>

<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gallery</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <style>
        .image-thumbail  {
            height: 250px;
            object-fit: cover;
        }
    </style>

</head>

<body class="m-5">
    <div class="text-center m-3">
        <img src="https://i.imgur.com/aJAZpAz.png" class="rounded" alt="Logo">
    </div>
    <ul class="nav justify-content-center">
        <li class="nav-item">
          <a class="nav-link active text-dark" href="{% url 'gallery' %}" role="tab" data-toggle="tab">All</a>
        </li>
        {% for category in categories %}
        <li class="nav-item">
            <a class="nav-link text-dark" href="{% url 'gallery'%}?category={{category.name}}" role="tab" data-toggle="tab">{{category.name}}</a>
        </li>
        {% endfor %}
    </ul>

    <div class="form-row text-center">
        <div class="col justify-content-center">
            <a href="{% url 'add' %}" class="btn btn-outline-warning btn-sm m-2">Add Photo</a>
        </div>
     </div>

    <div class="container">
            <div class="col justify-content-center">
                <div class="row justify-content-center">

                    {% for photo in photos %}
                    <div class="col-md-3">
                        <div class="card my-3">
                            <img class="image-thumbail" src="{{photo.image.url}}" alt="Card image cap">
                            <div class="card-body">
                              <p class="text-center text-uppercase font-weight-bold">{{photo.category.name}}</p>
                            </div>
                            <a href="{% url 'photo' photo.id %}" class="btn btn-outline-dark btn-sm">View</a>
                        </div>
                    </div>

                    {% empty %}
                    <h3>No photos...</h3>
                    {% endfor %}
                    
                </div>
            </div>
        </div>
    </div>
</body>
</html>
