<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Photo</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
</head>
<body class="m-5">
    <div class="text-center m-3">
        <img src="https://i.imgur.com/aJAZpAz.png" class="rounded" alt="Logo">
    </div>

    <div class="form-row text-center">
        <div class="col justify-content-center m-3">
            <a href="{% url 'gallery' %}" class="btn btn-outline-dark">Go Back</a>
        </div>
     </div>

     <div class="container">
        <div class="col justify-content-center">
            <div class="row justify-content-center">
                <div class="card justify-content-center" style="width: 50rem">
                    <img style="width: 40rem height=20rem"; class="image-thumbail" src="{{photo.image.url}}" alt="Card image cap">
                    <div class="card-body">
                      <h5 class="card-title text-center font-weight-bold">{{photo.description}}</h5>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>